/*valine 评论系统样式*/
/*valine 评论系统样式*/
.v .vbtn {
  color: #fff !important;
  width: 25% !important;
  height: 100% !important;
  line-height: 2 !important;
  font-weight: bolder !important;
  border-radius: 30px !important;
  border: 1px solid #e9eff3 !important;
  background-color: #a11616 !important;
}
.v .vicon {
  display: none !important;
}
.v .vinput {
  border: none !important;
}
/**/
